{
    "env": {
        "jest": true
    },
    "extends": [ "@odg" ],
    "rules": {
        "unicorn/consistent-function-scoping": [
            "error",
            {
                "checkArrowFunctions": false
            }
        ]
    }
}
